@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: "Georgia", serif;
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0rem;
  --background: oklch(0.9735 0.0261 90.0953);
  --foreground: oklch(0.2972 0 0);
  --card: oklch(0.9440 0.0278 88.7522);
  --card-foreground: oklch(0.2972 0 0);
  --popover: oklch(0.9440 0.0278 88.7522);
  --popover-foreground: oklch(0.2972 0 0);
  --primary: oklch(0.3508 0.0186 98.7387);
  --primary-foreground: oklch(0.9735 0.0261 90.0953);
  --secondary: oklch(0.9048 0.0227 87.1561);
  --secondary-foreground: oklch(0.3508 0.0186 98.7387);
  --muted: oklch(0.9346 0.0322 97.3068);
  --muted-foreground: oklch(0.5109 0.0209 89.4542);
  --accent: oklch(0.8802 0.0324 89.1514);
  --accent-foreground: oklch(0.3508 0.0186 98.7387);
  --destructive: oklch(0.4791 0.1427 28.8516);
  --border: oklch(0.8680 0.0325 89.1535);
  --input: oklch(0.8680 0.0325 89.1535);
  --ring: oklch(0.3508 0.0186 98.7387);
  --chart-1: oklch(0.3508 0.0186 98.7387);
  --chart-2: oklch(0.5625 0.0232 91.7097);
  --chart-3: oklch(0.4791 0.1427 28.8516);
  --chart-4: oklch(0.4655 0.0205 99.9449);
  --chart-5: oklch(0.7021 0.0334 93.0432);
  --sidebar: oklch(0.9440 0.0278 88.7522);
  --sidebar-foreground: oklch(0.2972 0 0);
  --sidebar-primary: oklch(0.3508 0.0186 98.7387);
  --sidebar-primary-foreground: oklch(0.9735 0.0261 90.0953);
  --sidebar-accent: oklch(0.9048 0.0227 87.1561);
  --sidebar-accent-foreground: oklch(0.3508 0.0186 98.7387);
  --sidebar-border: oklch(0.8680 0.0325 89.1535);
  --sidebar-ring: oklch(0.3508 0.0186 98.7387);
  --destructive-foreground: oklch(0.9735 0.0261 90.0953);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "JetBrains Mono", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 3px;
  --shadow-offset-y: 3px;
  --letter-spacing: -0.03em;
  --spacing: 0.25rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 3px 3px 0px 0px hsl(0 0% 0% / 0.10), 3px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 3px 3px 0px 0px hsl(0 0% 0% / 0.10), 3px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 3px 3px 0px 0px hsl(0 0% 0% / 0.10), 3px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 3px 3px 0px 0px hsl(0 0% 0% / 0.10), 3px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 3px 3px 0px 0px hsl(0 0% 0% / 0.10), 3px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 3px 3px 0px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.03em;
}

.dark {
  --background: oklch(0.2221 0.0059 91.6205);
  --foreground: oklch(0.9048 0.0227 87.1561);
  --card: oklch(0.2599 0.0074 95.3483);
  --card-foreground: oklch(0.9048 0.0227 87.1561);
  --popover: oklch(0.2599 0.0074 95.3483);
  --popover-foreground: oklch(0.9048 0.0227 87.1561);
  --primary: oklch(0.9735 0.0261 90.0953);
  --primary-foreground: oklch(0.2221 0.0059 91.6205);
  --secondary: oklch(0.3508 0.0186 98.7387);
  --secondary-foreground: oklch(0.9048 0.0227 87.1561);
  --muted: oklch(0.2927 0.0072 95.3089);
  --muted-foreground: oklch(0.7021 0.0334 93.0432);
  --accent: oklch(0.3508 0.0186 98.7387);
  --accent-foreground: oklch(0.9735 0.0261 90.0953);
  --destructive: oklch(0.5733 0.1503 28.5893);
  --border: oklch(0.3508 0.0186 98.7387);
  --input: oklch(0.3508 0.0186 98.7387);
  --ring: oklch(0.9735 0.0261 90.0953);
  --chart-1: oklch(0.9735 0.0261 90.0953);
  --chart-2: oklch(0.7021 0.0334 93.0432);
  --chart-3: oklch(0.5733 0.1503 28.5893);
  --chart-4: oklch(0.5625 0.0232 91.7097);
  --chart-5: oklch(0.4655 0.0205 99.9449);
  --sidebar: oklch(0.2599 0.0074 95.3483);
  --sidebar-foreground: oklch(0.9048 0.0227 87.1561);
  --sidebar-primary: oklch(0.9735 0.0261 90.0953);
  --sidebar-primary-foreground: oklch(0.2221 0.0059 91.6205);
  --sidebar-accent: oklch(0.2927 0.0072 95.3089);
  --sidebar-accent-foreground: oklch(0.9048 0.0227 87.1561);
  --sidebar-border: oklch(0.3508 0.0186 98.7387);
  --sidebar-ring: oklch(0.9735 0.0261 90.0953);
  --destructive-foreground: oklch(0.2221 0.0059 91.6205);
  --radius: 0rem;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "JetBrains Mono", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.4;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 4px;
  --shadow-offset-y: 4px;
  --letter-spacing: -0.03em;
  --spacing: 0.25rem;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 0.40), 4px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 0.40), 4px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 0.40), 4px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 0.40), 4px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 0.40), 4px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}